body {
  font-family: 'Source Code Pro', monospace;
  background-color: #2d3038;
}

p {
  color: #e3e4e8;
}

h1 {
  font-style: semi-bold;
  text-align: center;
  margin: 50px;
  color: #e3e4e8;
}
h2, h3 {
  font-style: semi-bold;
  text-align: center;
  margin: 30px;
  color: #e3e4e8;
}

button {
  background-color: #e3e4e8;
  border-radius: 12px;
  color: #2d3038;
  padding: 15px;
  font-size: 18px;
  font-family:  'Source Code Pro', monospace;
  width: 100%;
}

button:hover{
    box-shadow: 0 0 1px 1px #cbccd1;
}

.beforeClick {
  display: none;
}


.center {
  width: 50%;
  margin: auto;
}

#showLoc, #showAdj, #showSub  {
  margin: auto;
  position: relative;
  max-width: 275px;
  color: #464b4f;
  margin: 0 auto 30px;
  border: 2px solid #d1d9e0;
  background-color: #d1d9e0;
  border-radius: 4px;
  padding: 10px
}

